.landing h1 {
    font-size: clamp(17px, 2.5vw, 24px);
    font-weight: 500;
}
.landing h2 {
    font-size: clamp(37px, 7vw, 70px);
    font-weight: 700;
}
.landing p {
    font-size: clamp(16px, 2vw, 20px);
}
.landing .chevrons-down {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: bounce;
    animation-name: bounce;
}
.landing > h1 {
    animation: fadeUp 1s ease-out both;
}
.landing > h2 {
    animation: fadeUp 1s ease-out 0.3s both;
}
.landing > p {
    animation: fadeUp 1s ease-out 0.6s both;
}
.landing > a {
    animation: fadeUp 1s ease-out 0.8s both;
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
